body {
  margin: unset;
}

h1,
h2,
h3,
h4,
h5 {
  margin: unset;
}

select {
  cursor: pointer;
}

.flex1 {
  flex: 1
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-4 {
  margin-bottom: 32px;
}