@import url(elements/text.css);
@import url(elements/button.css);
@import url(elements/input.css);
@import url(elements/icon.css);
@import url(elements/combobox.css);
@import url(elements/toast.css);
@import url(elements/table.css);
@import url(elements/dialog.css);
@import url(elements/pop-up.css);
@import url(base.css);

.row {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
}

.contents {
    display: flex;
}

.avatar {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.avatar p {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    width: 100%;
    padding: 0 2px;
    text-align: center;
}

.contents .pop-up__content {
    position: relative;
    width: 100%;
}

.input-box {
    display: flex;
    justify-content: space-between;
}

.box-left {
    display: flex;
    flex-direction: column;
    width: 49%;
}

.box-right {
    display: flex;
    flex-direction: column;
    width: 49%;
}

.box-right .salary {
    flex-basis: 40px;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: 48px calc(100vh - 48px);
}

.home-logo {
    grid-column: 1/ span 2;
    display: flex;
    align-items: center;
    border-right: 1px solid #bbb;
}

.restaurant-name {
    display: flex;
    align-items: center;
    grid-column: 3/ span 11;
    padding-left: 24px;
    border-bottom: 1px solid #bbb;
}

.home-user {
    grid-column: 14/ span 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid #bbb;
    padding-right: 12px;
}

.home-menu {
    grid-column: 1/ span 2;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #bbb;
    padding-left: 16px;
}

.menu-content {
    display: flex;
    align-items: center;
    height: 40px;
}

.menu-header {
    height: 48px;
}

.home-content {
    grid-column: 3/ span 14;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 12px 0 12px;
}

.content-header {
    display: block;
    align-items: center;
    justify-content: space-between;
}

.title-creation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-filter-refresh {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-filter {
    display: flex;
    position: relative;
}

.content-refresh {
    height: 40px;
    width: 40px;
    border: 1px solid #bbb;
}

.table-content {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    flex: 1;
}

.table-header {
    font-weight: bold;
    margin-top: 16px;
    font-size: 16px;
    height: 48px;
    align-items: center;
}

.table-info {
    border-top: 1px solid #bbb;
}

.table-info .row {
    align-items: center;
    padding: 8px 0 8px 0;
    border-bottom: 1px solid #bbb;
    height: 48px;
}

.employee-code,
.dateofbirth,
.phonenumber {
    flex-basis: 130px;
}

.fullname,
.salary {
    flex-basis: 160px;
}

.salary {
    text-align: right;
}

.gender {
    width: 100px;
}

.email {
    flex-basis: 300px;
}

.position,
.department {
    flex-basis: 180px;
}

.status {
    padding-left: 16px;
    justify-content: flex-end;
    flex: auto;
}

.table-footer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 64px;
}

.footer-left {
    display: flex;
    width: 35%;
}

.footer-center {
    justify-content: space-around;
    width: 30%;
}

.footer-button {
    background-color: transparent;
    border: none;
    height: 35px;
    width: 35px;
    font-size: 20px;
}

.footer-right {
    width: 35%;
    text-align: end;
}

.footer-right select {
    height: 40px;
    width: 100%;
}

.page-number .footer-button {
    border: 1px solid #bbb;
    border-radius: 100%;
    /* margin: 0 5px; */
}

.page-number .footer-button:first-child {
    background-color: #019460;
    color: #fff;
}

.footer-left,
.footer-center,
.footer-right {
    align-items: center;
}