<!DOCTYPE html>
<html>
  <head>
    <title>ABC</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> <%= title %>  </h1>
    <p>Welcome to <%= title %> </p>
    <h2><%= order %> </h2>
    <h2><%= product %> </h2>
  </body>
</html>
