<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Wert - Different Portfolio HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="vendor.css">
    <link rel="stylesheet" href="style.css">

</head>
<body class="ish--hc1 ish--htc2">

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->



<!-- sidebar -->
<a class="ish-sbar-overlay" href="#close"></a>
<a class="ish-sbar-btn ish-icon-list-add" href="#open">
    <span class="ish-sbar-btn__desc">Click to open sidebar</span>
</a>
<div class="ish-sbar">
    <div class="ish-sbar__inner">
        <a class="ish-sbar__logo" href="./">we <span>|</span> rt</a>

        <p>We are small but passionate team of creative people from all aroud the world.</p>
        <p>We focued on making process of awesome digital content easier for real clients.</p>
        <p><a href="our-team.html">Read more about the team</a></p>

        <div class="ish-icons-group">
            <a class="ish-icons-group__icon ish-icon-twitter" href="https://twitter.com/ishyoboydotcom" target="_blank"></a>
            <a class="ish-icons-group__icon ish-icon-behance" href="https://www.behance.net/mattimling" target="_blank"></a>
            <a class="ish-icons-group__icon ish-icon-dribbble" href="https://dribbble.com/MattImling" target="_blank"></a>
            <a class="ish-icons-group__icon ish-icon-facebook" href="https://www.facebook.com/ishyoboydotcom" target="_blank"></a>
        </div>

        <!-- close btn -->
        <a class="ish-sbar-close-btn ish-icon-cancel" href="#close">
            <span class="ish-sbar-close-btn__desc">Close ( ESC )</span>
        </a>
    </div>
</div>
<!-- sidebar end -->



<div class="ish-wrapper">

    <div class="ish-wrapper__inner">



        <!-- header -->
        <header class="ish-row ish-header">
            <div class="ish-header__logo">
                <a class="ish-header__link" href="./">we <span>|</span> rt</a>
            </div>
            <div class="ish-header__tagline">
                Different Portfolio HTML Template
            </div>
        </header>
        <!-- header end -->



        <!-- lead -->
        <div class="ish-row ish-fullrow ish-lead">
            <span class="ish-lead__caption ish-icon-up">Featured Image</span>
            <div class="ish-lead__image">
                <img src="img/header2.jpg" alt="wawererly design">
            </div>
            <h1 class="ish-lead__headline">
				<span class="ish-lead__headline-inner">Wawererly<br>Design</span>
            </h1>
        </div>
        <!-- lead end -->



        <!-- content -->
        <div class="ish-row ish-content">

            <div class="ish-col-xs-12 ish-col-sm-4 ish-last-xs ish-first-sm ish-content__sidebar">

                <!-- side content -->
                <p>
                    An illustration is a visualization or a depiction made by an artist, such as a drawing,
                    sketch, painting, photograph, or other kind of image of things seen, remembered or imagined,
                    using a graphical representation.
                </p>
                <p>
                    The word comes from the latin word illustra’tio, illu’stro meaning enlighten, irradiate.
                </p>

                <ul class="ish-sidebar-mdata post-meta">
                    <li class="ish-sidebar-mdata__item">
                        <strong class="ish-sidebar-mdata__title post-meta-key">Client</strong>
                        IshYoBoy
                    </li>
                    <li class="ish-sidebar-mdata__item">
                        <strong class="ish-sidebar-mdata__title post-meta-key">Work Done</strong>
                        Website, Logotype, Visual Identity
                    </li>
                    <li class="ish-sidebar-mdata__item">
                        <strong class="ish-sidebar-mdata__title post-meta-key">Category</strong>
                        <a href="#">Website</a>
                    </li>
                    <li class="ish-sidebar-mdata__item">
                        <strong class="ish-sidebar-mdata__title post-meta-key">Link</strong>
                        <a href="https://ishyoboy.com" target="_blank">ishyoboy.com</a>
                    </li>
                </ul>

                <hr>

                <div class="ish-sidebar-share">
                    <strong class="ish-sidebar-share__desc">Share</strong>
                    <ul class="ish-sidebar-share__list">
                        <li class="ish-sidebar-share__list-item">
                            <a href="#" class="ish-sidebar-share__list-link ish-sc-el ish-sc-icon ish-icon-facebook ish--tc3"></a>
                        </li>
                        <li class="ish-sidebar-share__list-item">
                            <a href="#" class="ish-sidebar-share__list-link ish-sc-el ish-sc-icon ish-icon-behance ish--tc3"></a>
                        </li>
                        <li class="ish-sidebar-share__list-item">
                            <a href="#" class="ish-sidebar-share__list-link ish-sc-el ish-sc-icon ish-icon-dribbble ish--tc3"></a>
                        </li>
                        <li class="ish-sidebar-share__list-item">
                            <a href="#" class="ish-sidebar-share__list-link ish-sc-el ish-sc-icon ish-icon-twitter ish--tc3"></a>
                        </li>
                    </ul>
                </div>

                <hr>

                <ul class="ish-prev-next">
                    <li class="ish-prev-next__item ish-prev-next--left">
                        <a class="ish-prev-next__link" href="portfolio-detail2.html">Previous</a>
                        <span class="ish-prev-next__icon ish-icon-left"></span>
                    </li>
                    <li class="ish-prev-next__item ish-prev-next--right">
                        <a class="ish-prev-next__link" href="portfolio-detail2.html">Next</a>
                        <span class="ish-prev-next__icon ish-icon-right"></span>
                    </li>
                </ul>
                <!-- side content end -->

            </div>

            <div class="ish-col-xs-12 ish-col-sm-7 ish-col-sm-offset-1 ish-content__main">

                <!-- main content -->
                <a class="ish-image ish-lightbox" href="img/pflo1.jpg">
                    <img class="ish-image__image" src="img/pflo1.jpg" alt="logotype design">
                    <span class="ish-image__caption">Logotype Design</span>
                </a>
                <a class="ish-image ish-lightbox" href="img/pflo2.jpg">
                    <img class="ish-image__image" src="img/pflo2.jpg" alt="our company">
                </a>
                <a class="ish-image ish-lightbox" href="img/pflo3.jpg">
                    <img class="ish-image__image" src="img/pflo3.jpg" alt="brochure design">
                    <span class="ish-image__caption">Brochure Design</span>
                </a>
                <!-- main content end -->

            </div>

        </div>
        <!-- content end -->


        <!-- footer -->
        <div class="ish-footer">
            <div class="ish-footer__wrapper">
                <div class="ish-footer__wrapper-inner">
                    Wert <a href="https://themes.ishyoboy.com/wert-html/" target="_blank">Theme</a><span> ~ </span>
                    Proudly powered by <a href="https://wordpress.org/" target="_blank">WordPress</a><span> ~ </span>
                    Crafted by <a href="https://ishyoboy.com/" target="_blank">IshYoBoy.com</a>
                </div>
            </div>
        </div>
        <!-- footer end -->



    </div>



    <!-- sidenav -->
    <div class="ish-sidenav">
        <div class="ish-sidenav-inner">

            <div class="ish-sidenav-menu">
                <a href="" class="ish-sidenav-menu__icon">
                    <div id="nav-icon3">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>

            <div class="ish-sidenav-socials">
                <a class="ish-sidenav-socials__icon ish-icon-twitter" href="https://twitter.com/ishyoboydotcom" target="_blank"></a>
                <a class="ish-sidenav-socials__icon ish-icon-behance" href="https://www.behance.net/mattimling" target="_blank"></a>
                <a class="ish-sidenav-socials__icon ish-icon-dribbble" href="https://dribbble.com/MattImling" target="_blank"></a>
                <a class="ish-sidenav-socials__icon ish-icon-facebook" href="https://www.facebook.com/ishyoboydotcom" target="_blank"></a>
            </div>

            <div class="ish-sidenav-btt">
                <a class="ish-sidenav-btt__icon ish-icon-up" href="#top"></a>
            </div>

        </div>
    </div>
    <!-- sidenav end -->



    <!-- floated nav & search -->
    <div class="ish-navigation">

        <a class="ish-navigation__close-btn ish-icon-cancel" href="#close">
            <span class="ish-navigation__close-btn-desc">Close ( ESC )</span>
        </a>

        <ul class="ish-navigation__menu">
	        <li class="ish-navigation__item">
                <a class="ish-navigation__logo" href="./">we <span>|</span> rt</a>
	        </li>

            <li class="ish-navigation__item ish-navigation__item--active">
                <a href="index.html" class="ish-navigation__link">Home / Portfolio</a>
                <ul>
                    <li><a href="index.html">Classic Layout</a></li>
                    <li><a href="portfolio-zigzag.html">Zigzag Layout</a></li>
                    <li class="ish-navigation__subitem--active"><a href="portfolio-detail1.html">Portfolio Detail 1</a></li>
                    <li><a href="portfolio-detail2.html">Portfolio Detail 2</a></li>
                </ul>
            </li>

            <li class="ish-navigation__item">
                <a href="blog.html" class="ish-navigation__link">Blog</a>
                <ul>
                    <li><a href="blog.html">Blog Overview</a></li>
                    <li><a href="blog-detail.html">Blog Detail</a></li>
                    <li><a href="blog-archive.html">Category / Tag Archive</a></li>
                </ul>
            </li>

            <li class="ish-navigation__item">
                <a href="about.html" class="ish-navigation__link">We</a>
                <ul>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="our-team.html">Our Team</a></li>
                    <li><a href="services.html">Services</a></li>
                </ul>
            </li>

            <li class="ish-navigation__item">
                <a href="shortcodes.html" class="ish-navigation__link">Pages</a>
                <ul>
                    <li><a href="shortcodes.html">Shortcodes</a></li>
                    <li><a href="search-results.html">Search Results</a></li>
                    <li><a href="error-404.html">404 Error</a></li>
                </ul>
            </li>

            <li class="ish-navigation__item"><a href="contact.html" class="ish-navigation__link">Contact</a></li>

            <li class="ish-navigation__item ish-navigation__item--search"><a href="#s" class="ish-navigation__link ish-icon-search"></a></li>

            <li class="ish-navigation__item ish-navigation__item--search-form">
                <form role="search" method="get" class="ish-navigation__search-form" action="search-results.html">
                    <button type="submit" class="ish-navigation__search-btn"><i class="ish-icon-search"></i></button>
                    <input type="text" value="" name="search" class="ish-navigation__search-field" placeholder="Type text and press enter">
                    <i class="ish-navigation__search-close ish-icon-cancel"></i>
                </form>
            </li>

            <li class="ish-navigation__resp-icon"><a class="ish-sc-el ish-sc-icon ish-icon-twitter ish--tc3" href="https://twitter.com/ishyoboydotcom" target="_blank"></a></li>
            <li class="ish-navigation__resp-icon"><a class="ish-sc-el ish-sc-icon ish-icon-dribbble ish--tc3" href="https://dribbble.com/MattImling" target="_blank"></a></li>
            <li class="ish-navigation__resp-icon"><a class="ish-sc-el ish-sc-icon ish-icon-behance ish--tc3" href="https://www.behance.net/mattimling" target="_blank"></a></li>
            <li class="ish-navigation__resp-icon"><a class="ish-sc-el ish-sc-icon ish-icon-facebook ish--tc3" href="https://www.facebook.com/ishyoboydotcom" target="_blank"></a></li>

        </ul>

    </div>
    <!-- floated nav & search end -->



    <!-- resp bottom navigation -->
    <div class="ish-resp-nav">
        <a class="ish-resp-nav__icon ish-resp-nav__icon--sidebar ish-icon-list-add" href=""></a>
        <a class="ish-resp-nav__icon ish-resp-nav__icon--nav ish-icon-article" href=""></a>
        <a class="ish-resp-nav__icon ish-resp-nav__icon--btt ish-icon-up" href=""></a>
    </div>
    <!-- resp bottom navigation end -->

</div>

<script src="plugins/plugins.js"></script>
<script src="js/main.js"></script>

</body>
</html>
