.button {
    border: none;
    border-radius: 4px;
    padding: 0 24px 0 24px;
    height: 40px;
    color: white;
    text-align: center;
    background-color: #019460;
    font-size: 13px;
}

button:hover {
    cursor: pointer;
}

.button:hover {
    background-color: #2FBE8E;
}

.button:active {
    background-color: #01B075;
}

.button__icon {
    background-repeat: no-repeat;
    background-position-x: 16px;
    background-position-y: center;
    padding-right: 16px;
    padding-left: 40px;
    color: white;
}

.button-cancel {
    margin-right: 16px;
    color: #000;
    background-color: transparent;
}

.button-cancel:hover {
    background-color: #bbb;
}

.footer-button {
    background-color: transparent;
    border: none;
    height: 35px;
    width: 35px;
    font-size: 20px;
}

.page-number .footer-button {
    border: 1px solid #bbb;
    border-radius: 100%;
}