.title {
    padding-left: 5px;
}

.title p {
    margin: 0;
    padding-bottom: 4px;
    font-weight: bold;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.lesson {
    background-color: chartreuse;
    text-align: center;
    margin: 0;
}

.task {
    font-size: 20px;
    width: 100%;
}

#p-uTitle {
    margin-top: 0;
}

#t1 {
    font-family: MISA Black;
}

#t2 {
    font-family: MISA Black Italic;
}

#t3 {
    font-family: MISA Bold;
}

#t4 {
    font-family: MISA Bold Italic;
}

#t5 {
    font-family: MISA Light;
}

#t6 {
    font-family: MISA Light Italic;
}

#t7 {
    font-family: MISA Medium;
}

#t8 {
    font-family: MISA Medium Italic;
}

#t9 {
    font-family: MISA Regular;
}

#t10 {
    font-family: MISA Thin;
}

